<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <form action="/web/scrape" method="post" accept-charset="utf-8">
        <input type="text" placeholder="Enter the url here..." name="url" />
        <button type="submit">get products</button>
    </form>
</body>

</html>
