<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
<h3>Please enter the URL to get data from this "http://www.amazon.in/mobile-phones/b/ref=sv_e_1?node=1389401031" or send page URL after this link</h3>
    <form action="/web/scrape" method="post" accept-charset="utf-8">
        <input type="text" placeholder="Enter the url here..." name="url" />
        <button type="submit">get products</button>
    </form>
</body>

</html>
